@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Noto Sans KR'), url('./assets/fonts/NotoSansKR400.woff2') format('woff2'),
		url('./assets/fonts/NotoSansKR400.woff') format('woff'),
		url('./assets/fonts/NotoSansKR400.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Noto Sans KR'), url('./assets/fonts/NotoSansKR500.woff2') format('woff2'),
		url('./assets/fonts/NotoSansKR500.woff') format('woff'),
		url('./assets/fonts/NotoSansKR500.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Noto Sans KR'), url('./assets/fonts/NotoSansKR700.woff2') format('woff2'),
		url('./assets/fonts/NotoSansKR700.woff') format('woff'),
		url('./assets/fonts/NotoSansKR700.otf') format('opentype');
}
